<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" />
    
  </head>
  <body>
    <div class="login-container">
      <div class="login-form">
        <h1>Đăng Nhập</h1>
        <form action="/home" method="post">
          <div class="form-group">
            <input type="text" name="username" placeholder="Tên đăng nhập" required />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Mật khẩu"
              required
            />
          </div>
          <div class="form-group">
            <a href="#" class="forgot-password">Quên mật khẩu</a>
          </div>
          <button type="submit" class="login-btn">Đăng nhập</button>
        </form>
        <p>
         Chưa có tài khoản?<a href="/signup">Đăng ký</a>
        </p>
      </div>
      <div class="login-image"></div>
    </div>
  </body>
</html>